.flex {
    display: flex;
}




#discount {
    z-index: 20;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    place-items: center;
}




#discount .banner {
    width: 80%;
    background-color: var(--red-tint);
    transition: all 500ms ease-in-out 500ms;
    backdrop-filter: blur(1px);
    text-align: center;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5rem;
}


/* MAIN */
#page-wrapper {
    margin: 0 10vw;
}




.heading {
    width: 100%;
    text-align: center;
    margin: min(30vh, 30vw) auto;
}




.heading .title {
    margin: 1.5rem 0;
    font-size: 4rem;
    color: var(--purple);
}




@media (max-width:750px) {
    .heading .title{
        font-size: 3.2rem;
    }
}




@media (max-width:500px) {
    .heading .title{
        font-size: 3rem;
    }
}




@media (max-width:300px) {
    .heading .title{
        font-size: 2.6rem;
    }
}




.heading h4 {
    font-weight: 300;
}




/* Options */
.options-container > h2 {
    margin-top: 5rem;
}




.options-box {
    flex-wrap: wrap;
    /* border: 2px solid green; */
    margin: 1rem 0;
    align-items: center;
    gap: var(--gap, 2vw);
    justify-content: space-around;
    min-height: min(80vh, 50vw);
}




.options-tab {
    min-width: 30%;
    padding: var(--pad, 2rem);
    min-height: 35vw;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap, 1rem);
    flex-direction: column;
    border-radius: 0.5rem;
    /* border: 2px dotted yellow; */
    transition: 0.4s ease-in-out;
}




.options-tab:hover {
    box-shadow: 0 0 6px 0 var(--purple);
}




.options-tab.highlight:hover {
    box-shadow: 0 0 6px 0 var(--banner-text);
}




.options-tab:not(.highlight) {
    background-color: var(--banner-text);
}




.options-tab ul {
    list-style: none;
    text-align: start;
    padding: 0;
}




.options-tab:not(.highlight) h2,
.options-tab:not(.highlight) h4 {
    color: var(--theme-colour);
}
.options-tab:not(.highlight) li{
    color: var(--dark-grey);
    font-size: smaller;
}




.options-tab i {
    color: var(--purple);
    margin: 0.5rem;
}




.options-tab .uil-times-circle {
    color: var(--red-tint);
}




.options-price p {
    color: var(--dark-grey);
    font-size: smaller;
}




.button-div button {
    text-align: center;
    background-color: var(--purple);
    color: var(--banner-text);
    /* padding: 1rem 4rem; */
    transition: 0.3s;
    box-shadow: 0 0 10px 1px var(--box-shadow-black);




}




.button-div button:hover{
    filter: brightness(1.2);
}




.disclaimer {
    margin: min(3vh, 5vw) 0;
    font-size: 0.9rem;
    line-height: 1.3rem;
}




/* highlights */




.options-tab.highlight {
    overflow: hidden;
    position: relative;
    min-height: 38vw;
    background: linear-gradient(to bottom right, var(--purple), var(--purple), var(--purple-hover));
}




.options-tab.highlight .shine {
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 500%;
    opacity: 0.4;
    transform: translateX(-50%) rotate(-45deg) translateY(-100%);
    transition: transform 500ms ease-in-out 300ms;
    background-color: white;
    top: 0;
    left: 0;
}








.options-tab.highlight:hover .shine {
    transform: translateX(10%) rotate(-45deg) translateY(800%);
}




.options-tab.highlight:hover {
    transform: scale(1.02);
}




.options-tab.highlight i {
    font-size: larger;
}




.options-tab.highlight li,
.options-tab.highlight p {
    color: var(--banner-text);
    font-size: smaller;
}
.options-tab.highlight .uil-check-circle {
    color: lime;
}




.options-tab.highlight .uil-times-circle {
    color: var(--red);
}




.highlight .button-div button {
    background-color: var(--banner-text);
    color: var(--purple);
}




/* Contact */




#contact * {
    /* border: 2px dotted red; */
}




.contact-details {
    margin: 2rem 0;
}
#contact .heading {
    margin-bottom: min(10vh, 10vw);
}




.contact-container {
    /* border: 2px dotted red; */
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap, min(5vh, 10vw));
    padding: 0;
}




#contact input, #contact select, #contact textarea {
    padding: 0.8rem 0.5rem;
    border-radius: 0.4rem;
    font-size: 0.7rem;
    width: 100%;
    background-color: rgba(21, 16, 38, 0.8);
    border: none;
    color: var(--banner-text);
}




#contact textarea {
    height: 30vh;
    resize: none;
}




#contact button {
    cursor: pointer;
    width: 100%;
    color: var(--banner-text);
    background-color: var(--purple);
    transition: 0.4s;
}




#contact button i {
    cursor: inherit;
    color: var(--banner-text);
    font-size: 1rem;
    margin-left: 0.5rem;
    align-self: center;
    transition: 0.3s;
}




#contact button:not(.hidden):hover {
    filter: brightness(1.2);
}




#contact button:not(.hidden):hover > i {
    margin-left: 0.8rem;
}




#contact button.hidden {
    cursor: default;
    background: hsl(264, 100%, 83%);
}




.contact-container .status {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    opacity: 0;
    pointer-events: none;
}




.contact-container .status.active {
    animation: fadein 4s ease-in-out forwards;
}




@keyframes fadein {
    0% {
        opacity: 0;
    } 20% {
        opacity: 1;
    } 80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}












.contact-container .row {
    width: 100%;
    align-items: center;
    /* border: 2px dotted green; */
    margin-bottom: 1rem;
    gap: 1rem;
}
.contact-container form {
    width: 50%;
}
.contact-container .row-50 {
    width: 50%;
}




.contact-container form p {
    font-size: 0.7rem;
}




.contact-container span {
    display: flex;
    gap: var(--gap, min(3vh, 5vw));
}




.contact-container .flex span h4 {
    align-self: center;
}




.contact-container i {
    color: var(--purple);
    font-size: 2rem;
    align-self: center;
}




@media (max-width:1010px) {
    .contact-container {
        flex-direction: column-reverse;
    }

    .contact-details {
        width: 100%;
        margin: 0;
    }

    .contact-details span {
        align-self: center;
        justify-content: center;;
    }
    
    .contact-container form {
        width: 100%;
    }
}








@media (max-width: 400px) {
    .contact-container i {
        font-size: 1.5rem;
    }
    .contact-container span h4 {
        font-size: 0.7rem;
    }




    .contact-container span {
        --gap: 3vw;
    }
}




@media (max-width:1200px) {
    .options-tab .options-heading h4 {
        font-size: 1.6rem;
    }




    .options-container > h2 {
        text-align: center;
        font-size: 2.7rem;
    }




    .options-heading, .options-price {
        text-align: center;
        width: 100%;
    }
    .options-box {
        display: block;
        height: fit-content;
    }




    .options-tab {
        height: fit-content;
        align-items: start;
        margin: 0 5vw;
        margin-top: 10vh;
    }




    .disclaimer {
        margin: 5vh 5vw;
    }




    .options-tab ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }




    .options-tab li {
        text-align: center;
    }




    .button-div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }




    .button-div button {
        width: 80%;
        padding: 5rem auto;
    }
}




@media (max-width:700px) {
   
    .button-div button {
        width: 100%;
    }




    .options-tab ul {
        display: block;
    }
    .options-tab li {
        text-align: start;
    }




    .options-tab .options-price h2 {
        font-size: 2.8rem;
    }

    .disclaimer {
        text-align: center;
    }

}




@media (max-width:500px) {
   
    .options-container > h2 {
        font-size: 2rem;
    }




    .options-tab .options-price h2 {
        font-size: 2.5rem;
    }




    .options-tab .options-heading h4 {
        font-size: 1.1rem;
    }




    .options-tab:not(.highlight) li,
    .options-tab.highlight li {
        font-size: 0.6rem;
    }




    .options-tab {
        --gap: 1.3rem;
        --pad: 1.4rem;
    }
}




@media (max-width:400px) {
    .options-container > h2 {
        font-size: 1.6rem;
    }
}

@media (max-width:600px) {
     #page-wrapper {
        margin: 0 5vw
     }
}