.flex {
    display: flex;
}

.page {
    overflow: hidden;
}
#dev h1 {
    margin: 2vh 0;
    padding: 0;
    text-align: center;
}
#dev .flex {
    gap: 10vw;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#dev .flex i {
    cursor: default;
    font-size: 5rem;
    color: var(--purple);
}

#dev .flex .uil.uil-cog:nth-child(1) {
    animation: spinA 3s infinite linear;
}

#dev .flex .uil.uil-cog:nth-child(2) {
    animation: spinB 3s infinite linear;
}


@keyframes spinA {
    from {
        transform: rotate(0);
    } to {
        transform: rotate(360deg);
    }
}

@keyframes spinB {
    from {
        transform: rotate(0);
    } to {
        transform: rotate(-360deg);
    }
}