@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 2px dotted red;  */
}


:root {
    --theme-colour: #00C445;
    --light-colour: #e5ffee;
    --darker-light-colour:#d3d3d3;
    --font-colour:#282534;
    --p-colour:#6a6a7f;
    --outline:#e5e7ff5f;
    --box-shadow-darker: #00000071;
    --white:#f2f2f2;
    --dark-blue:rgb(0, 0, 36);
   
    /* palette */
    --denim:rgb(0, 0, 70);
    --shadow:rgb(70, 70, 89);
    --spruce:rgb(84, 84, 137);
    --lapis:rgb(75, 75, 223);
    --heather:rgb(193, 183, 255);


    /* PassSafe */
    --light-blue:#71d0ff;
}


body {
    background-color: var(--light-colour);
}


h1,h2,h3,h4,h3,h4 {
    color: var(--font-colour);
    letter-spacing: 0.15rem;
}

h4 {
    font-weight: 200;
}

h1 {
    font-size: var(--h1-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

p {
    color: var(--p-colour);
    font-weight: 500;
    letter-spacing: 0.07rem;
    font-size: var(--p-font-size);
    line-height: 150%;
}



hr {
    height: 4px;
    width: 10%;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    background-color: var(--theme-colour);
}

#page-wrapper {
    margin: 5vh 18vw;
}


@media (max-width:500px) {
    #page-wrapper {
        margin: 5vh 12vw;
    }
}


#splashscreen {
    height: 100vh;
    width: 100%;
    /* border: 2px dotted red; */
}

.heading {
    text-align: center;
    transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
}


.part-heading {
    margin: 5vh 0;
}


.part-heading[data-side="start"] {
    text-align: start;
}


.part-heading[data-side="end"] {
    text-align: end;
}


.part-heading[data-side="end"] hr {
    float: right;
}


.page {
    margin: 10vh 0;
}


.part {
    margin-top: 5vh;
    margin-bottom: min(15vh, 25vw);
}


.splashscreen-content *,
.desc * {
    color: var(--light-colour);
}


.splashscreen-content {
    padding: 0 5vw;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.8),rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url('../../resources/projects/clash/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
}


.roles {
    flex-wrap: wrap;
    gap: 10px;
    justify-self:flex-start;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0 10vw;
    transition: 600ms ease-in-out 300ms;
}

.roles p {
    font-weight: 600;
}



.theme {
    color: var(--theme-colour);
    font-weight: bolder;
}


.desc {
    background: linear-gradient(to bottom, rgba(0, 153, 64, 0.9),rgba(0, 153, 64,0.9),rgba(0, 153, 64,1),rgba(0, 153, 64,1),rgba(0, 153, 64,1),rgba(0, 153, 64,1),rgba(0, 153, 64,1));
    place-items: center;
    padding-bottom: 5vh;
}


.desc-content {
    width: 50%;
    text-align: center;
    margin: 5vh 5vw;
}


.desc-content .text {
    transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
}


.desc-content p {
    margin-top: 3vh;
    color: var(--darker-light-colour);
    margin: 0;
}





@media (max-width:540px) {
    .desc-content button {
        font-size: 1rem;
    }
    .desc-content {
        width: 80%;
        margin: 5vh 0
    }
}


@media (max-width:440px) {
    .desc-content button {
        font-size: 0.8rem;
        padding: 0.3rem 1rem;
    }
}


/* About */

.about .image-content {
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}
.about .image-content img {
    transition: scale 300ms ease-in-out;
    width: 100%;
}

.about .image-content img:hover {
    scale: 105%;
}





/* Check out */


#next-project {
    width: 100%;
}


#next-project a {
    background-color: var(--dark-blue);
    transition: 0.4s;
    padding: 5vh;
    place-items: center;
}


#next-project .text-content {
    width: 100%;
}


#next-project * {
    color: var(--white);
}


#next-project .light-blue {
    color: var(--light-blue);
}


#next-project h4 {
    transition: 400ms ease-in-out 300ms;
}


#next-project h1 {
    transition: 400ms ease-in-out 600ms;
}


#next-project a:hover {
    background-color: var(--denim);
}


#next-project .text {
    transition: transform 300ms ease-in-out 300ms;
}


#next-project a:hover .text {
    transform: scale(1.04);
}

