#about h1 {
    font-size: var(--h1-font-size);
}

@media (max-width:500px) {
    #about h1 {
        font-size: 10vw;
    }
}
.about-container {
    align-items: center;
    justify-content: space-between;
    gap: var(--gap, 5rem);
}

.about-container .image-container {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.about-container .image-container img {
    aspect-ratio: 1;
    width: 25vw;
    box-shadow: 0 0 10px 5px var(--box-shadow-black);
    transition: 0.3s;
}

.about-container .image-container img:hover {
    transform: scale(1.05);
}

.about-container-text {
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: var(--gap, 2rem);
}

.about-container-text h4{
    margin-bottom: var(--line-height);
    text-align: justify;
}

.about-container-text p {
    text-align: justify;
}

.experience-container {
    flex-wrap: wrap;
    align-items: space;
    width: 100%;
    justify-content: space-around;
}

.experience-tab p, .experience-tab h3 {
    width: 100%;
    text-align: center;
}

.experience-tab p {
    font-size: smaller;
    line-height: var(--line-height);
}

.about-container a {
    width: 100%;
    transition: 0.3s;
}

.about-container button {
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: var(--red-tint);
    font-size: 1rem;
    color: var(--banner-text);
}

.about-container a:hover {
    filter: brightness(1.2);
}

.experience-container .scroll-hidden.top:nth-child(1) {
    transition-delay: 100ms;
}

.experience-container .scroll-hidden.top:nth-child(2) {
    transition-delay: 300ms;
}

.experience-container .scroll-hidden.top:nth-child(3) {
    transition-delay: 500ms;
}


@media (max-width: 1100px) {
    .about-container {
        flex-wrap: wrap;
        --gap: 2rem;
    }

    .about-container .image-container img {
        width: max(25vw, 25vh);
    }

}

@media (max-width: 500px) {
    .about-container {
        --gap:1.5rem;
    }
}
@media (max-width:600px) {
    .about-container .image-container img {
        width: 50vw;
    }
}