@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    /* border: 1px dotted red; */
}

:root {
    /* Default Colours */
    /* --background: rgb(255,255,255); */
    --theme-color:#0a0076;
    --purple:#9244ff;
    --red:#ff2e2e;
    --green: rgb(0, 128, 2);
    --yellow:#fff54d;
    --banner-text:#e8e6ff;
    --grey:rgb(163, 163, 163);
}

h1, h2, h3, h4 {
    letter-spacing: 0.1em;
}

h1 {
    color: var(--banner-text);
    font-size: 3.5em;
}

p {
    color: var(--grey);
    letter-spacing: 0.1em;
    line-height: 1.5rem;
}

i {
    cursor: pointer;
    transition: 0.3s;
}

i:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 1em 1em;
    border-radius: 0.5em;
    cursor: pointer;
}

input {
    font-weight: lighter;
    padding: 1em 1em;
    border-radius: 2em;
    border: 1px solid var(--grey);
}

