@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    /* border: 1px dotted red; */
}

:root {
    /* Default Colours */
    /* --background: rgb(255,255,255); */
    --theme-color:#0a0076;
    --purple:#9244ff;
    --purple-hover:#c79fff;
    --red:#ff2e2e;
    --green: rgb(0, 128, 2);
    --yellow:#fff54d;
    --banner-text:#e8e6ff;
    --grey:rgb(163, 163, 163);
    
    /* Font sizes */
    --h1-font-size: 3.5em;
    --h2-font-size: 3.2em;
    --h3-font-size: 2.8em;
    --h4-font-size: 2.5em;
    --i-font-size: 1.5em;
    --p-font-size: 1em;

    /* Smaller Font sizes */
    --h1-font-size-s: 2.8em;
    --h2-font-size: 2.5em;
    --h3-font-size: 2.1em;
    --h4-font-size: 1.7em;
    --i-font-size: 1.1em;
    --p-font-size: 1em;
}
body {
    min-height: 100vh
}

h1, h2, h3, h4 {
    letter-spacing: 0.1em;
    color: var(--banner-text);
}

h1 {
    font-size: var( --h1-font-size);
}

p {
    color: var(--grey);
    letter-spacing: 0.1em;
    line-height: 1.5rem;
    word-wrap:normal;
}

i {
    cursor: pointer;
    transition: 0.3s;
}

i:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 1em 1em;
    border-radius: 0.5em;
    cursor: pointer;
}

input {
    font-weight: lighter;
    padding: 1em 1em;
    border-radius: 2em;
    border: 1px solid var(--grey);
}

#page-wrapper {
    margin: 0 25vw;
    min-height: 100vh;
}

@media (max-width:800px) {
    #page-wrapper {
        margin:0 4rem 0 calc(4rem + 1px);
    }
}

@media (max-width: 621px) {
    h1 {
        font-size: var(--h1-font-size-s);
    }
    h2 {
        font-size: var(--h2-font-size-s);
    }
    h3 {
        font-size: var(--h3-font-size-s);
    }
    h4 {
        font-size: var(--h4-font-size-s);
    }
    hp {
        font-size: var(--p-font-size-s);
    }
}

@media (max-width:380px) {
    #page-wrapper {
        margin:0 4rem 0 calc(2rem + 1px);
    }
}

#page {
    height: 100vh;
}
