#portfolio > h1 {
    font-size: var(--h1-font-size);
}

@media (max-width:710px) {
    #portfolio > h1 {
        font-size: 8vw;
    }
}

@media (max-width:510px) {
    #portfolio .comment {
        font-size: 7vw;
    }
}


.portfolio-container {
    width: 100%;
    cursor: default;
}

.portfolio-container-1 .comment {
    font-size: var(--h2-font-size);
    margin: 0;
    margin-top: 13vh;
}

.portfolio-container-1 .portfolio-row {
    align-items: center;
    justify-content: flex-start
}

.portfolio-container-1 .portfolio-row:nth-child(odd) {
    justify-content: flex-end;
}

.portfolio-container-1 .portfolio-item {   
    width: 95%;
    /* height: min(80vh,40vw); */
    margin: min(5vh, 12vw) 0;
    border-radius: 0.4rem;
    /* overflow: hidden; */
    /* background: var(--black-backdrop);
    backdrop-filter: blur(2px); */
    align-items: center;
    justify-content: start;
    gap: 1vw;
    transition: 0.2s;
    /* border: 1.3px solid rgba(255, 255, 255, 0.2); */
    filter: brightness(0.8);
}

.portfolio-container-1 .portfolio-item:hover {
    filter: brightness(100%);
}

.portfolio-container-1 .portfolio-item:nth-child(1) {
    transition: opacity 400ms ease-in-out, transform 400ms ease-in-out, filter 200ms ease-in-out, box-shadow 300ms ease-in-out;
}


.portfolio-container-1 .portfolio-item:nth-child(2) {
    transition: opacity 400ms ease-in-out 400ms, transform 400ms ease-in-out 700ms, filter 200ms ease-in-out, box-shadow 300ms ease-in-out;
}


.portfolio-container-1 .portfolio-item:nth-child(3) {
    transition: opacity 400ms ease-in-out 700ms, transform 400ms ease-in-out 700ms, filter 200ms ease-in-out, box-shadow 300ms ease-in-out;
}



@media (max-width:1000px) {
    .portfolio-container-1 .portfolio-item {
        filter: brightness(1);
    }
}



.portfolio-container-1 .portfolio-item .text h4 {
    font-weight: 100;
    font-size: var(--p-font-size-ss);
    opacity: 0.7;
}

.portfolio-container-1 .portfolio-item .text p {
    line-height: 138%;
    letter-spacing: 0.6px;
}

.portfolio-container-1 .portfolio-item .text a {
    font-size: smaller;
    transition: 0.3s;
    font-weight: 600;
}

.portfolio-container-1 .portfolio-item .text a.active {
    color: var(--grey);
    background-color: var(--purple-tint);
    padding: 8px 20px;
    line-height: 200%;
}

.portfolio-container-1 .portfolio-item .text a.inactive {
    color: var(--red-tint);
    cursor: not-allowed;
}

.portfolio-container-1 .portfolio-item .text a.active:hover {
    transform: translateX(10%);
    color: var(--purple-tint);
    background-color: var(--grey);
}

@media (max-width:440px) {
    .portfolio-container-1 .portfolio-item .text a {
        width: 100%;
        text-align: center;
    }
}



.portfolio-container-1 .portfolio-item .image {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.portfolio-container-1 .portfolio-item img {
    /* border: 1px solid red; */
    width: 100%;
    transition: 0.3s;
    border-radius: 0.3rem;
}


.portfolio-container-1 .portfolio-item .image:hover img {
    transform: scale(1.03);
}

.portfolio-container-1 .portfolio-item .text {
    height: 30%;
    padding: 1rem;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}


.portfolio-container-1 .portfolio-item .text h3 {
    color: var(--purple);
    font-size: var(--h3-font-size-ss);
    line-height: 2rem;
    margin: 0;
    margin-bottom: 10px;
}




.portfolio-container-1 .portfolio-item .text p {
    margin: 0.5rem 0;
    font-size: var(--p-font-size-s);
}



@media (max-width:1380px) {
    .portfolio-container-1 .portfolio-item .text p {
        margin: 1rem 0;
    }
}




@media (max-width:1200px) {


    .portfolio-container-1 .portfolio-item .text h3 {
        font-size: var(--h3-font-size);
    }
   
    .portfolio-container-1 .portfolio-item .text p {
        font-size: var(--p-font-size);
    }
}





@media (max-width:900px) {
    .portfolio-container-1 .portfolio-item {
        width: 100%;
    }
    .portfolio-container-1 .portfolio-row {
        justify-content: center;
    }

    .portfolio-container-1 .portfolio-row:nth-child(odd) {
        justify-content: center;
    }

    .portfolio-container-1 .portfolio-item .text,
    .portfolio-container-1 .portfolio-item .image {
        width: 50%;
    }
}

@media (max-width:660px) {

    .portfolio-container-1 .portfolio-item {
        height: fit-content;
        flex-wrap: wrap;
    }

    .portfolio-container-1 .portfolio-item .image {
        width: 100%;
    }

    .portfolio-container-1 .portfolio-item .text {
        width: 100%;
    }

    .portfolio-container-1 .portfolio-item .text h4 {
        margin: 1vh 0;
    }
    
}


@media (max-width:400px) {


    .portfolio-container-1 .portfolio-item .text h3 {
        font-size: var(--h3-font-size-s);
    }




    .portfolio-container-1 .portfolio-item .text p {
        font-size: var(--p-font-size-s);
        margin-top: 1vh;
    }

    .portfolio-container-1 .comment {
        font-size: var(--h2-font-size-s);
    }
   
}


/* HIGHLIGHT ITEMS */
.portfolio-container.highlights {
    flex-direction: column;
    gap: 10vh;
    flex-wrap: nowrap;
}




.portfolio-container.highlights .portfolio-item {
    width: 100%;
    min-height: min(50vw, 70vh);
}








.portfolio-container.highlights .portfolio-item[data-side="right"] {
    justify-content: end;
}








.portfolio-container.highlights .portfolio-item[data-side="left"] {
    justify-content: start;
}








.portfolio-item.highlights:nth-child(1) {
    transition: opacity 400ms ease-in-out 100ms, transform 400ms ease-in-out 100ms;
}








.portfolio-item.highlights:nth-child(2) {
    transition: opacity 400ms ease-in-out 300ms, transform 400ms ease-in-out 300ms;
}








.portfolio-container.highlights .portfolio-background {
    overflow: hidden;
    position: relative;
    width: 80%;
    filter: brightness(1.5);
    box-shadow: 0 0 3px 1px rgba(255,255,255,0.5);
    align-items: end;
    padding: var(--padd, 3rem);
    transition: all 0.4s ease-in-out;
}








.portfolio-container.highlights .portfolio-background[data-side="right"] {
    justify-content: flex-end;
}








.portfolio-container.highlights .portfolio-background[data-side="left"] {
    justify-content: flex-start;
}








.portfolio-container.highlights .portfolio-background:hover {
    filter: brightness(1.8);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.51);
}








.portfolio-container.highlights .portfolio-background:hover .portfolio-content{
    transform: scale(1.06);
}








.portfolio-container.highlights .portfolio-content {
    z-index: 100;
    word-wrap: break-word;
    transition: all 0.3s ease-in-out;
    transition-delay: 250ms;
    width: 30vw;
}








.portfolio-container.highlights .portfolio-content p {
    font-size: smaller;
    line-height: 1.5rem;
    margin: min(2vh, 2vw) 0;
    color: grey;
}








.portfolio-banner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(24, 0, 36, 0.9), rgba(28, 0, 41, 0.436));
    transform: translateX(var(--dir,-100%));
    transition: transform 200ms ease-in-out 100ms;
}








.portfolio-container.highlights .portfolio-background[data-side="right"] .portfolio-banner {
    background: linear-gradient(to left, rgba(24, 0, 36, 0.9), rgba(28, 0, 41, 0.436));
    --dir: 100%;
}








.portfolio-container.highlights .portfolio-background:hover .portfolio-banner {
    transform: translateX(0);
}








.portfolio-container.highlights #portfolio-passsafe,
.portfolio-container.highlights #portfolio-mademoiselle {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}








/* BUTTONS */
.portfolio-container.highlights .portfolio-content button {
    cursor: pointer;
    position: relative;
    border: none;
    border-radius: 0;
    background: var(--red);
    box-shadow: 0 0 5px 1px var(--box-shadow-black);
    color: var(--banner-text);
    font-weight: 100;
    transition: background 300ms ease-in-out 300ms;
    overflow-x: hidden;
}








.portfolio-container.highlights .portfolio-content button .button-banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--banner-text);
    transition: transform 400ms ease-in-out 200ms;
    transform: translateX(-110%);
}








.portfolio-container.highlights .portfolio-content button:hover .button-banner{
    transform: translateX(200%);
}


.test {
    background-color: white;
    visibility: visible;
}
















@media (max-width:1000px) {
    .portfolio-container.highlights .portfolio-background {
        width: 100%;
        align-items: center;
        justify-content: center;
        --padd: 2rem;
    }
    .portfolio-container.highlights .portfolio-item {
        height: 50vh;
    }








    .portfolio-container.highlights .portfolio-background[data-side="right"] {
        justify-content: center;
    }




    .portfolio-container.highlights .portfolio-background[data-side="left"] {
        justify-content: center;
    }








    .portfolio-container.highlights .portfolio-content {
        width: 100%;
    }








    .portfolio-container.highlights .portfolio-background[data-side="right"] .portfolio-banner {
        background: linear-gradient(to right, rgba(24, 0, 36, 0.9), rgba(28, 0, 41, 0.436));
        --dir:-100%;
    }
}








/* Adding backgrounds */
#portfolio-passsafe {
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url('../resources/projects/passSafe/project.png');
}








#portfolio-mademoiselle {
    background: linear-gradient(to left, rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url('../resources/projects/mademoiselle.png');
}

