.services-container {
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-container .services-tab {
    width: 15rem;
    height: 15rem;
    position: relative;
    padding: 2rem;
}

.services-container .services-tab:hover {
    filter: brightness(1.5);
}

.services-container .services-tab i {
    font-size: var(--h1-font-size-ss);
    color: var(--banner-text);
    cursor: pointer;
}

.services-container .services-tab i:hover {
    transform: translateX(10%) translateY(10%);
}

.icon {
    cursor: default;
}

.services-container .services-tab h4 {
    margin: 0.6rem 0;
}

.uil-arrow-down-right {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.services-container .services-tab:nth-child(1),
.services-container .services-tab:nth-child(2),
.services-container .services-tab:nth-child(3) {
    flex: 1;
}


.services-container .services-tab:nth-child(1):hover,
.services-container .services-tab:nth-child(2):hover,
.services-container .services-tab:nth-child(3):hover {
    flex: 1.5;
}


.services-container .services-tab:nth-child(1) {
    background: var(--yellow-tint);
    transition: flex 0.3s ease-in-out, filter 0.4s ease-in-out, opacity 1s ease-in-out 100ms, transform 1s ease-in-out 100ms;
}

.services-container .services-tab:nth-child(2) {
    background: var(--red-tint);
    transition: flex 0.3s ease-in-out, filter 0.4s ease-in-out, opacity 1s ease-in-out 300ms, transform 1s ease-in-out 300ms;
}

.services-container .services-tab:nth-child(3) {
    background: var(--green-tint);
    transition: flex 0.3s ease-in-out, filter 0.4s ease-in-out, opacity 1s ease-in-out 500ms, transform 1s ease-in-out 500ms;
}

/* Modals */
.modal {
    opacity: 0;
    display: none;
    place-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
  }

.modal-container {
    background-color: var(--footer-colour);
    margin: auto; /* 15% from the top and centered */
    padding: var(--padd, 2rem);
    border-radius: 0.5rem;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 0 10px 10px var(--box-shadow-black);
    height: fit-content;
}

.modal-container ul,
.modal-container p {
    margin: 0;
    padding: 0;
}

.modal-container li {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
}

.modal-container li i {
    color: var(--purple);
}

.modal-container h3 {
    color: var(--theme-color);
}

.modal-container p {
    letter-spacing: normal;
    margin: 1rem auto;
    color: var(--dark-grey);
}

.modal-container .button-container {
    display: grid;
    place-items: end;
}
.modal-container button {
    background: var(--purple);
    color: var(--banner-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    transition: 0.2s;
    border: 1px solid transparent;
    box-shadow: 0 0 10px 1px var(--box-shadow-black);
}

.modal-container .modal-content {
    width: 100%;
    max-height: 60vh;
    overflow-y: scroll;
    margin-top: 1rem;
    margin-bottom: var(--padd,2rem);
    padding: 0 1rem;
    box-shadow: 0 0 5px 1px var(--box-shadow-black) inset;
}

@media (max-width:630px) {
    .modal-container {
        --padd: 1.8rem
    }

    .modal-container .modal-content {
        --padd: 1.8rem
    }
}

@media (max-width:550px) {
    .modal-container {
        --padd: 1.5rem
    }
    .modal-container .modal-content {
        --padd: 1.5rem
    }
}

@media (max-width:420px) {
    .modal-container {
        --padd: 1.3rem
    }
    .modal-container .modal-content {
        --padd: 1.3rem
    }
}

@media (max-width:300px) {
    .modal-container {
        --padd: 1rem
    }
    .modal-container .modal-content {
        --padd: 1rem
    }
}

.modal-container .modal-content * {
    text-align: justify;
}

#services-modal .modal-container {
    display: none;
}

#services-modal .modal-container.active {
    display: block;
}

.modal-container button:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 10px 5px var(--box-shadow-black);
}

.modal-container button i {
    font-size: larger;
}
.modal.active {
    animation: fadein 300ms forwards ease-in-out;
    animation-delay: 100ms;
}

.close {
    transition: 0.3s;
    color: #aaa;
    float: right;
    font-size: var(--h3-font-size);
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}